*{
    border: 2;
    margin: 2;
    font-family:  Arial;


}

.body {
    /*text-align: center;*/
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;

}

.header {
    background-color: #fff;
    text-align: center;
    padding-top: 20px;
    margin: 0px;
}

.subHeader {
    padding: 0px;
    margin: 0px;
}

.question {
    background-color: #ffff;
    padding: 10px;
    border-radius: 10px;
    content: center;
    align-content: center;
    align-items: center;
    justify-content: 'center',
    /*border: 1px solid #000;*/
}

/** img {
    border-radius: 10px;
}*/

